SMTP_USER=test@gmail.com
SMTP_OAUTH_CLIENT_ID=your_client_id_here
SMTP_OAUTH_CLIENT_SECRET=your_client_secret_here
SMTP_OAUTH_REFRESH_TOKEN=your_refresh_token_here
SMTP_FROM=test@gmail.com
SMTP_TO=becia.szydelkuje@gmail.com

# Google Search Console Verification Token
GOOGLE_SITE_VERIFICATION=